
html, body {
  height: 100%;
}

.clients-icon img {
  max-width: 200px;
  max-height: 200px;
}

.row {
  min-height: 100%;
}
.left {
  padding: 2em;
}
.right {
  height: 100%;
  width: 100%;
  background: url('/assets/images/celine-for-coveteur.jpg') 50% 100% no-repeat;
  background-size: cover;
}
@media (--viewport-sm-only) {
  .right {
    padding-bottom: 100%;
  }
}
