
html, body {
  height: 100%;
}
.row {
  min-height: 100%;
}
.left {
  padding: 2em;
}
.right {
  height: 100%;
  width: 100%;
  background: url('/assets/images/Celine-DrielyS-000096670035.jpg') top right no-repeat;
  background-size: cover;
}
@media (--viewport-sm-only) {
  .right {
    padding-bottom: 100%;
  }
}
