@font-face {
  font-family:'Scala';
  src: url('/assets/fonts/ScalaSansComp.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'Scala';
  src: url('/assets/fonts/ScalaSansComp-Bold.woff') format('woff');
  font-weight:bold;
  font-style:normal;
}
