
img {
  max-width: 100%;
}
.center {
  text-align: center;
}
.block {
  display: block;
}
.vspace {
  margin-top: 1em;
  margin-bottom: 1em;
}
.align-right {
  text-align: right;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.video-container video,
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
