@custom-media --viewport-sm-only screen and (max-width: 767px);
@custom-media --viewport-md screen and (min-width: 768px);
@custom-media --viewport-lg screen and (min-width: 1080px);

@media (--viewport-md) {
}

.container {
  max-width: 1000px;
  margin: auto;
}
.container-md {
  max-width: 800px;
  margin: auto;
}
.container-sm {
  max-width: 600px;
  margin: auto;
}

.section {
  padding: 4em 0;
}

@media (--viewport-md) {

  .row {
    display: flex;
    align-items: center;
    align-items: stretch;
    /*margin-left:  -var(--unit);
    margin-right: -var(--unit);*/
  }
  .row.valign-top {
    align-items: flex-start;
  }
  .valign {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-grow {
    flex-grow: 1;
  }

  .half, .third, .two-thirds, .quarter {
    /*padding-left: var(--unit);
    padding-right: var(--unit);*/
  }
  .half {
    width: 50%;
  }
  .third {
    width: 33%;
  }
  .two-thirds {
    width: 66%;
  }
  .quarter {
    width: 25%;
  }

}
