
body {
  background: var(--offwhite);
}

.btn {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.5em;
  border: 2px solid black;
  border-radius: .5em;
  text-decoration: none;
  transition: all .2s ease-out;
  width: max-content;

}

.btn:hover, .button:hover {
  text-decoration: none;
  background-color: var(--white);
}
.action-link::before {
  content: "→";
  width: 1.5em;
  height: 1em;
  display: inline-block;
}

.b-t {
  border-top: 2px solid var(--text-color);
}
.b-b {
  border-bottom: 2px solid var(--text-color);
}
@media (--viewport-md) {
  .b-r {
    border-right: 2px solid var(--text-color);
  }
  .b-l {
    border-left: 2px solid var(--text-color);
  }
}

.p-t {
  padding-top: var(--unit);
}
.p-r {
  padding-right: var(--unit);
}
.p-b {
  padding-bottom: var(--unit);
}
.p-l {
  padding-left: var(--unit);
}


.splide__pagination__page {
  width: 1.2em;
  height: 1.2em;
}
.splide__pagination {
  counter-reset: pagination-num;
}
.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}
