
body {
  font-family: 'Scala', sans-serif;
  font-size: 18px;
  background: white;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
b, strong {
  font-weight: bold;
}
p {
  margin: 0.2em 0 0.8em 0;
  line-height: 1.4;
}
