
/*	OSLO	*/
@font-face {
	font-family: 'OsloRegular';
	src: url('Oslo-Regular-webfont.eot');
	src: local('☺'), url('Oslo-Regular-webfont.woff') format('woff'), url('Oslo-Regular-webfont.ttf') format('truetype'), url('Oslo-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OsloItalic';
	src: url('Oslo-Italic-webfont.eot');
	src: local('☺'), url('Oslo-Italic-webfont.woff') format('woff'), url('Oslo-Italic-webfont.ttf') format('truetype'), url('Oslo-Italic-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OsloBold';
	src: url('Oslo-Bold-webfont.eot');
	src: local('☺'), url('Oslo-Bold-webfont.woff') format('woff'), url('Oslo-Bold-webfont.ttf') format('truetype'), url('Oslo-Bold-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OsloLight';
	src: url('Oslo-Light-webfont.eot');
	src: local('☺'), url('Oslo-Light-webfont.woff') format('woff'), url('Oslo-Light-webfont.ttf') format('truetype'), url('Oslo-Light-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*	PROCIONO	*/
@font-face { font-family:'Prociono'; src:url('prociono.eot'); src:url('prociono.eot?#iefix') format('embedded-opentype'), url('prociono.woff') format('woff'), url('prociono.ttf') format('truetype'), url('prociono.svg#Prociono') format('svg'); font-weight:normal; font-style:normal; }
