<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="menu b-b p-t p-b">
    <div class="container">
      <div class="row">
        <p class="two-thirds">
          <span class="title-sm">celinecelines</span> /
          <a href="https://slowfactory.earth">Slow Factory</a> /
          <a href="https://slowfactorylabs.co">Slow Factory Labs</a>
        </p>
        <div class="third align-right">
          <div><a class="btn" href="https://slowfactory.earth/donate">Support Slow Factory</a></div>
        </div>
      </div>
    </div>
  </div>


{{ content }}


{% include footer.html %}

</body>
</html>
